{% extends "courses_cloud/layout.html" %}

{% block title %}
    About Us
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.shu.ac.uk/-/media/home/about-us/civic/civic-university-network/campus-landscape.jpg?iar=0&sc_lang=en&hash=50ED7C8349FC94491EC66DB7774E4423" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Our Team of Professors</h1>
                <p>
                    Sheffield Hallam University (SHU) is a public research university in Sheffield, South Yorkshire, England. The university is based on two sites; the City Campus is located in the city centre near Sheffield railway station, while the Collegiate Crescent Campus is about two miles away in the Broomhall Estate off Ecclesall Road in south-west Sheffield. A third campus at Brent Cross Town in the London Borough of Barnet is expected to open for the 2025–26 academic year.
                        </p>
                <a class="btn btn-primary" href="/modules">View Courses</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <h2 class="text-center my-4 pb-4"><b>Top Instructors</b></h2>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">David Malan</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Brian Yu</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                    <div class="card-body">
                        <h2 class="card-title">Conan O'Brien</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div
{% endblock %}