{% extends "courses_cloud/layout.html" %}

{% block title %}
    Change Password
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
	<div class="container py-3 my-3 py-sm-3 my-sm-3 py-md-4 my-md-4 py-lg-6 my-lg-6">
		<div class="row my-3 mb-sm-3 mb-md-4 mb-lg-5">
			<div class="col-10 col-sm-10 com-md-7 col-lg-5 mx-auto my-5 py-5 border-1 text-center">
				<h1 class="signup_font top_h py-2">
					<b>Change Password</b>
				</h1>

				{% if message %}
                    <h3 class="mt-4">{{ message }}</h3>
                {% endif %}
				<form method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-3 mt-md-4 mt-lg-4 mt-sm-4">
                            <input type="password" class="form-control px-3"
                                name="password" placeholder="New Password" required>
						</div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-3 mt-md-4 mt-lg-4 mt-sm-4">
                            <input type="password" class="form-control px-3"
                                name="confirm_password" placeholder="Confirm Password" required>
                        </div>

						<div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-3 mt-md-4 mt-lg-4">
							<button type="submit" class="form-control signup_font sginup_btn login_btn py-3">
								Change Password
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
