{% extends "courses_cloud/layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto mt-5 text-center">
                <div class="border border-secondary-subtle rounded-3 p-5">
                    <h1 class="p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                        Login
                    </h1>
                    {% if error_message %}
                        <div>
                            {{error_message}}
                        </div>
                    {% endif %}
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <!-- {{ form.username.label_tag }} -->
                            {{ form.username }}
                            <!-- {{ form.password.label_tag }} -->
                            {{ form.password }}
                            <p>Forgot password?
                                <a href="{% url 'passwordResetEmail' %}">Reset Password</a>
                            </p>
                            <button type="submit" class="btn btn-primary px-5">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}