{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset Form</title>
    </head>

    <body class="body">
        <p class="bodytext" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 12px; color: #000; line-height: 18px;">
            You have requested to reset password for your account.
        </p>
            
        <!-- <a href="{{ domain }}/account_management/reset-password/{{ id }}/{{ token }}" style="color: #ffffff; text-decoration: none; border-radius: 5px;">Password Reset</a> -->
            
        <p class="bodytext" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 12px; color: #000; line-height: 18px;">
            Visit the securely encrypted link below to reset the password for your account. <br />
            <br />
            <a href="{{ domain }}/account_management/reset-password/{{ id }}/{{ token }}" target="_blank" style="color: #080d33; text-decoration: underline;">
                {{ domain }}/account_management/reset-password/{{ id }}/{{ token }}
            </a>
        </p>
    </body>
</html>
