{% extends "courses_cloud/layout.html" %}

{% block title %}
    Reset Password
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-10 col-sm-11 mx-auto text-center mt-5">
				<div class="border border-secondary-subtle rounded-3 p-5 mt-4">
					<h2 class="p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
						Forgot your password?
					</h2>
					{% if message %}
						<h4 class="my-3">{{ message }}</h4>
					{% endif %}
					<form method="post">
						{% csrf_token %}
						<input type="text" class="form-control mt-3" name="password_reset_email" placeholder="Your Email / Username" required>
						<button type="submit" class="btn btn-primary px-5 mt-4">
							Reset Password
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
