{% extends "courses_cloud/layout.html" %}

{% block title %}
    Reset Password
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
<div class="container my-3 my-sm-3 my-md-4  my-lg-5">
    <div class="row my-3 mb-sm-3 mb-md-4 mb-lg-5">
        <div class="col-10 col-sm-10 com-md-7 col-lg-5 mx-auto my-5 py-5 border-1 text-center">
            <h1 class="signup_font top_h py-2">
                <b>Password Reset</b>
            </h1>
            <p class="signup_font top_p login_text mb-0">
                Enter you passowrd correctly twice.
            </p>

            {% if message %}
                <h3 class="signup_font top_h py-2 mt-4 mb-0">
                    <b>{{ message }}</b>
                </h3>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-3 mt-md-4 mt-lg-4 mt-sm-4 mb-4">
                        <input type="password" class="form-control px-3" name="signup_pasword"
                            id="reset_pas_one" placeholder="Password" required>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="password" class="form-control px-3" name="signup_confirm"
                            id="reset_pas_two" placeholder="Confirm Password" required>
                    </div>

                    <p class="signup_font top_p login_text text-start mt-2 ms-3 mb-0" id="email_msg_response"></p>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-3 mt-md-4 mt-lg-4">
                        <button type="submit" class="form-control py-3">
                            Reset Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
        function reset_password_one() {
            var password = document.getElementById('reset_pas_one');
            if (password.getAttribute('type') === 'password') {
                document.getElementById('pas_eye_one').classList.remove('bi-eye-slash')
                document.getElementById('pas_eye_one').classList.add('bi-eye')
                password.setAttribute('type', 'text')
            } else {
                document.getElementById('pas_eye_one').classList.remove('bi-eye')
                document.getElementById('pas_eye_one').classList.add('bi-eye-slash')
                password.setAttribute('type', 'password')
            }
        }
        function reset_password_two() {
            var password = document.getElementById('reset_pas_two');
            if (password.getAttribute('type') === 'password') {
                document.getElementById('pas_eye_two').classList.remove('bi-eye-slash')
                document.getElementById('pas_eye_two').classList.add('bi-eye')
                password.setAttribute('type', 'text')
            } else {
                document.getElementById('pas_eye_two').classList.remove('bi-eye')
                document.getElementById('pas_eye_two').classList.add('bi-eye-slash')
                password.setAttribute('type', 'password')
            }
        }




    // function reset_password_validate() {
    //     const reset_pass_one = document.getElementById('reset_pas_one').value.trim();
    //     const reset_pass_two = document.getElementById('reset_pas_two').value.trim();
    //     if (reset_pass_one === reset_pass_two) {
    //         var formData = new FormData()
    //         const csrftoken = getCookie('csrftoken');
    //         formData.append('password', reset_pass_one)
    //         const url = window.location.href;
    //         fetch(`${url}`, {
    //             method: 'POST',
    //             body: formData,
    //             headers: {
    //                 'X-CSRFToken': csrftoken,
    //             },
    //         })
    //         .then (data => data.json())
    //         .then (data => {
    //             console.log(data['data'])
    //             if (data['save'] == 'save') {
    //                 if (document.getElementById('reset_pas_one').classList.contains('failed_borders')) {
    //                     document.getElementById('reset_pas_one').classList.remove('failed_borders');
    //                     document.getElementById('reset_pas_two').classList.remove('failed_borders');
    //                     document.getElementById('reset_pas_one').nextElementSibling.classList.remove('failed_label');
    //                     document.getElementById('reset_pas_two').nextElementSibling.classList.remove('failed_label');
                        
    //                 }
    //                 if (document.getElementById('email_msg_response').classList.contains('text-danger')) {
    //                     document.getElementById('email_msg_response').classList.remove('text-danger')
    //                 }
    //                 document.getElementById('email_msg_response').classList.add('text-success')
    //                 document.getElementById('email_msg_response').innerHTML = data['data'];
    //             } else {
    //                 if (document.getElementById('email_msg_response').classList.contains('text-success')) {
    //                     document.getElementById('email_msg_response').classList.remove('text-success')
    //                 }
    //                 document.getElementById('email_msg_response').classList.add('text-danger')
    //                 document.getElementById('email_msg_response').innerHTML = data['data'];
    //             }
    //         })
    //         setTimeout(function () {
    //             window.location = '/';
    //         }, 5000)
    //     } else {
    //         document.getElementById('reset_pas_one').classList.add('failed_borders');
    //         document.getElementById('reset_pas_two').classList.add('failed_borders');
    //         document.getElementById('reset_pas_one').nextElementSibling.classList.add('failed_label');
    //         document.getElementById('reset_pas_two').nextElementSibling.classList.add('failed_label');
    //         if (document.getElementById('email_msg_response').classList.contains('text-success')) {
    //             document.getElementById('email_msg_response').classList.remove('text-success')
    //         }
    //         document.getElementById('email_msg_response').classList.add('text-danger')
    //         document.getElementById('email_msg_response').innerHTML = 'Password does not match.';
    //     }
    // }



</script>
{% endblock %}