{% extends "courses_cloud/layout.html" %}

{% block title %}
    Reset Password
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}



<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto mt-5 text-center">
            <div class="border border-secondary-subtle rounded-3 p-5">
                <h1 class="p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    Password Reset
                </h1>
    
                {% if message %}
                    <h4 class="signup_font top_h py-2 mt-4 mb-0">
                        {{ message }}
                    </h4>
                {% endif %}
                <div>
                    <form method="post">
                        {% csrf_token %}

                        <input type="password" class="form-control my-3" name="signup_pasword" placeholder="New Password" required />
                        <input type="password" class="form-control my-3" name="signup_confirm" placeholder="Confirm Password" required />
                        <button type="submit" class="btn btn-primary px-5">
                            Reset Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block javascript %}
<script>
        function reset_password_one() {
            var password = document.getElementById('reset_pas_one');
            if (password.getAttribute('type') === 'password') {
                document.getElementById('pas_eye_one').classList.remove('bi-eye-slash')
                document.getElementById('pas_eye_one').classList.add('bi-eye')
                password.setAttribute('type', 'text')
            } else {
                document.getElementById('pas_eye_one').classList.remove('bi-eye')
                document.getElementById('pas_eye_one').classList.add('bi-eye-slash')
                password.setAttribute('type', 'password')
            }
        }
        function reset_password_two() {
            var password = document.getElementById('reset_pas_two');
            if (password.getAttribute('type') === 'password') {
                document.getElementById('pas_eye_two').classList.remove('bi-eye-slash')
                document.getElementById('pas_eye_two').classList.add('bi-eye')
                password.setAttribute('type', 'text')
            } else {
                document.getElementById('pas_eye_two').classList.remove('bi-eye')
                document.getElementById('pas_eye_two').classList.add('bi-eye-slash')
                password.setAttribute('type', 'password')
            }
        }




    // function reset_password_validate() {
    //     const reset_pass_one = document.getElementById('reset_pas_one').value.trim();
    //     const reset_pass_two = document.getElementById('reset_pas_two').value.trim();
    //     if (reset_pass_one === reset_pass_two) {
    //         var formData = new FormData()
    //         const csrftoken = getCookie('csrftoken');
    //         formData.append('password', reset_pass_one)
    //         const url = window.location.href;
    //         fetch(`${url}`, {
    //             method: 'POST',
    //             body: formData,
    //             headers: {
    //                 'X-CSRFToken': csrftoken,
    //             },
    //         })
    //         .then (data => data.json())
    //         .then (data => {
    //             console.log(data['data'])
    //             if (data['save'] == 'save') {
    //                 if (document.getElementById('reset_pas_one').classList.contains('failed_borders')) {
    //                     document.getElementById('reset_pas_one').classList.remove('failed_borders');
    //                     document.getElementById('reset_pas_two').classList.remove('failed_borders');
    //                     document.getElementById('reset_pas_one').nextElementSibling.classList.remove('failed_label');
    //                     document.getElementById('reset_pas_two').nextElementSibling.classList.remove('failed_label');
                        
    //                 }
    //                 if (document.getElementById('email_msg_response').classList.contains('text-danger')) {
    //                     document.getElementById('email_msg_response').classList.remove('text-danger')
    //                 }
    //                 document.getElementById('email_msg_response').classList.add('text-success')
    //                 document.getElementById('email_msg_response').innerHTML = data['data'];
    //             } else {
    //                 if (document.getElementById('email_msg_response').classList.contains('text-success')) {
    //                     document.getElementById('email_msg_response').classList.remove('text-success')
    //                 }
    //                 document.getElementById('email_msg_response').classList.add('text-danger')
    //                 document.getElementById('email_msg_response').innerHTML = data['data'];
    //             }
    //         })
    //         setTimeout(function () {
    //             window.location = '/';
    //         }, 5000)
    //     } else {
    //         document.getElementById('reset_pas_one').classList.add('failed_borders');
    //         document.getElementById('reset_pas_two').classList.add('failed_borders');
    //         document.getElementById('reset_pas_one').nextElementSibling.classList.add('failed_label');
    //         document.getElementById('reset_pas_two').nextElementSibling.classList.add('failed_label');
    //         if (document.getElementById('email_msg_response').classList.contains('text-success')) {
    //             document.getElementById('email_msg_response').classList.remove('text-success')
    //         }
    //         document.getElementById('email_msg_response').classList.add('text-danger')
    //         document.getElementById('email_msg_response').innerHTML = 'Password does not match.';
    //     }
    // }



</script>
{% endblock %}